:root {
  /* Dark shades of primary color */
  --clr-primary-1: = #ff385c;
  --clr-primary-2: = #ff385c;
  --clr-primary-2: = #ff385c;
  /* main primary color */

  /* dark black  color */
  --clr-back-1: = #222222;
  /* dark grey  color */
  --clr-grey-1: = #717171;
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: auto;
}

/* ::: Header style :: */
.main-header {
  border-bottom: 2px solid #d1cece;
}

.header-box {
  padding: 10px 30px;
  display: flex;
  align-items: center;
}
.logo {
  flex: 1;
}
.logo img {
  width: 170px;
}
.nav-bar {
  flex: 1;
}
.nav-bar ul {
  display: flex;
  gap: 30px;
}
.account-icon {
  border-radius: 21px;
  background-color: #fff;
  box-shadow: 0 0 1px 1px hsl(0, 0%, 88%);
  border: 1px solid var(--clr-grey-1);
  /* padding: 5px 10px; */
  margin-left: 10px;
}
.account-icon:hover {
  cursor: pointer;
  transition: 0.9s all;
  box-shadow: 0 2px 1px 1px gray;
}

.fa-user,
.fa-bars {
  background-color: red;
  border-radius: 100%;
  padding: 8px;
  margin: 5px;
}
.fa-user {
  background-color: grey;
  color: white;
}

.fa-bars {
  background-color: transparent;
}
.fa-globe {
  border-radius: 100%;
  padding: 8px;
  margin: 0 8px;
}
.fa-globe:hover {
  background-color: grey;
  /* color: white; */
}
.host {
  border-radius: 22px;
  padding: 8px;
  margin: 0 8px;
}
.host:hover {
  background-color: grey;
}
.menu {
  cursor: pointer;
}
.menu .active {
  padding-bottom: 10px;
  color: #000;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.active,
.default:hover {
  padding-bottom: 10px;
  border-bottom: 2px solid gray;
  color: gray;
  transition: 0.2s all;
}
/* :::: menu category ::: */
.custom-flex {
  display: flex;
  align-items: center;
}
.cat {
  scroll-behavior: smooth;
  display: flex;
  gap: 35px;
  margin: 30px 0;
  overflow: hidden;
  flex: 1;
}
.cat-list-style {
  color: gray;
  height: 70px;
  text-align: center;
}
.cat-list-style img {
  width: 25px;
  margin-bottom: 5px;
}
.cat-list-style:hover {
  border-bottom: 2px solid gray;
  color: gray;
  transition: 0.2s all;
  color: #000;
  cursor: pointer;
}

.cat-btn {
  width: 80px;
  height: 40px;
  border-radius: 5px;

  border: 1px solid grey;
  background-color: #fff;
}

.cat-btn .fa-sliders {
  margin-right: 10px;
}
